<a href="https://colab.research.google.com/github/brunobobadilla06/Bruno-CienciaDeDatos/blob/main/Estadistica_descriptiva.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Importamos librerias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_theme(style='whitegrid') # Establece un tema visual agradable para los graficos de Seaborn

# Crear un diccionario con los datos de los estudiantes
datos = {
    'Nombre': ['Juan', 'Maria', 'Pedro', 'Ana', 'Luis', 'Carlos', 'Sofia', 'Elena', 'Diego', 'Laura'],
    'Edad': [20, 22, 19, 21, 23, 20, 22, 19, 21, 23],
    'Calificacion': [85, 92, 78, 88, 95, 80, 90, 75, 88, 90],
    'Ciudad': ['Madrid', 'Barcelona', 'Valencia', 'Sevilla', 'Madrid', 'Barcelona', 'Valencia', 'Sevilla', 'Madrid', 'Barcelona']
}

# Crear un DataFrame de pandas a partir del dicicionario
df_estudiantes = pd.DataFrame(datos)

# Mostrar el DataFrame
df_estudiantes

   Nombre  Edad  Calificacion     Ciudad
0    Juan    20            85     Madrid
1   Maria    22            92  Barcelona
2   Pedro    19            78   Valencia
3     Ana    21            88    Sevilla
4    Luis    23            95     Madrid
5  Carlos    20            80  Barcelona
6   Sofia    22            90   Valencia
7   Elena    19            75    Sevilla
8   Diego    21            88     Madrid
9   Laura    23            90  Barcelona

In [3]:
# Media con la columna calificacion
media = df_estudiantes['Calificacion'].mean()
print('Media:', media)

# Media de la edad
media_edad = df_estudiantes['Edad'].mean()
print('Media de la edad:', media_edad)

Media: 86.1
Media de la edad: 21.0

In [4]:
# Mediana con la culumna calificacion
mediana = df_estudiantes['Calificacion'].median()
print('Mediana:', mediana)

# Mediana de la edad
mediana_edad = df_estudiantes['Edad'].median()
print('Mediana de la edad:', mediana_edad)

Mediana: 88.0
Mediana de la edad: 21.0

In [6]:
# Moda de la calificacion
moda_calificacion = df_estudiantes['Calificacion'].mode()
print('Moda de la calificacion:', moda_calificacion)

# Moda de la edad
moda_edad = df_estudiantes['Edad'].mode()
print('Moda de la edad:', moda_edad)

# Tambien podemos calcular la moda para datos categoricas
moda_ciudad = df_estudiantes['Ciudad'].mode()
print('Moda de la ciudad:', moda_ciudad)

Moda de la calificacion: 0    88
1    90
Name: Calificacion, dtype: int64
Moda de la edad: 0    19
1    20
2    21
3    22
4    23
Name: Edad, dtype: int64
Moda de la ciudad: 0    Barcelona
1       Madrid
Name: Ciudad, dtype: object

In [9]:
# Medidas de dispersion
# Rango
# Calcular el minimo y maximo de la calificacion
min_calificacion = df_estudiantes['Calificacion'].min()
max_calificacion = df_estudiantes['Calificacion'].max()
rango_calificacion = max_calificacion - min_calificacion
print(f'Calificacion Minima: {min_calificacion}')
print(f'Calificacion Maxima: {max_calificacion}')
print('Rango de la calificacion:', rango_calificacion)

Calificacion Minima: 75
Calificacion Maxima: 95
Rango de la calificacion: 20

In [11]:
# Varianza
varianza_calificacion = df_estudiantes['Calificacion'].var()
print(f'Varianza de la calificacion: {varianza_calificacion:.2f}')

Varianza de la calificacion: 42.10

In [12]:
# Desviacion estandar
desviacion_estandar_calificacion = df_estudiantes['Calificacion'].std()
print(f'Desviacion estandar de la calificacion: {desviacion_estandar_calificacion:.2f}')
# Interpretacion: En promedio, las calificaciones tienden a desviarse unos 6.49 puentos de la media 86.1

Desviacion estandar de la calificacion: 6.49

In [13]:
# Cuartiles e IQR
# Podemos obtenerlos con .quartile() o directmante de .describe()
q1_cuantile = df_estudiantes['Calificacion'].quantile(0.25)
q3_cuantile = df_estudiantes['Calificacion'].quantile(0.75)
iqr = q3_cuantile - q1_cuantile

print(f'Primer cuartil (Q1): {q1_cuantile:.2f}')
print(f'Tercer cuartil (Q3): {q3_cuantile:.2f}')
print(f'Rango intercuartil (IQR): {iqr:.2f}')

Primer cuartil (Q1): 81.25
Tercer cuartil (Q3): 90.00
Rango intercuartil (IQR): 8.75

In [1]:
# Histograma de calificaciones
plt.figure(figsize=(8, 5))
sns.histplot(data = df_estudiantes, x='Calificaciones', kde=True)
plt.title('Histograma de Calificaciones')
plt.xlabel('Calificacion')
plt.ylabel('Frecuencia')
plt.show()

NameError: name 'plt' is not defined

In [ ]:
uenas