<a href="https://colab.research.google.com/github/brunobobadilla06/Bruno-CienciaDeDatos/blob/main/Numpy_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Introduccion en Panda:

In [ ]:
import pandas as pd # Importamos pandas y le ponemos un alias

# Creamos un DataFrame simple
datos = {
    'Nombre': ['Juan', 'María', 'Pedro', 'Ana', 'Luis'],
    'Edad': [25, 30, 35, 40, 45],
}
df = pd.DataFrame(datos)

# Mostramos el DataFrame
print(df)
#

  Nombre  Edad
0   Juan    25
1  María    30
2  Pedro    35
3    Ana    40
4   Luis    45

In [ ]:
# Series
import pandas as pd

# Creamos una serie simple
serie = pd.Series([10, 20, 30, 40, 50])


# Mostramos la serie
print(serie)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [ ]:
# DataFrame
import pandas as pd

# Creamos la dataframe
datos = {
    'Nombre': ['Juan', 'María', 'Pedro', 'Ana', 'Luis'],
    'Edad': [25, 30, 35, 40, 45],
}
df = pd.DataFrame(datos)

In [ ]:
# Leyendo archivos
import pandas as pd

# Leyendo un archivo CSV
df = pd.read_csv('datos.csv')

# Leyendo un archivo Excel
df = pd.read_excel('datos.xlsx')

# Leyendo un archivo json
df = pd.read_json('datos.json')

# Leyendo un archivo Sql
df = pd.read_sql('datos.sql')

# Leyendo un archivo Html
df = pd.read_html('datos.html')

Tip: Si usamos df.info() para ver tipos de datos y df.describe() para estadisticas basicas.

In [ ]:
print("Indice de la serie ", serie.index)
print("Valores de la serie ", serie.values)

Indice de la serie  RangeIndex(start=0, stop=5, step=1)
Valores de la serie  [10 20 30 40 50]

In [ ]:
import pandas as pd
# Creando una serie desde un diccionario
# Las claves del diccionario se covierten en el indice
s_dict = pd.Series({'Juan':25, 'Maria':30, 'Pedro':35, 'Ana':40, 'Luis':45})
print(s_dict)
print("Edad de Ana: ", s_dict['Ana'])

Juan     25
Maria    30
Pedro    35
Ana      40
Luis     45
dtype: int64
Edad de Ana:  40

In [1]:
# Creando un data frame desde un diccionario de listas
# cada clave del diccionario sera una columna, las listas los valos de esas columna
# TODAS LAS LISTAS DEBEN TENER LA MISMA LONGITUD
data = {
    'Nombre': ['Juan', 'María', 'Pedro', 'Ana', 'Luis'],
    'Edad': [25, 30, 35, 40, 45],
    'Ciudad': ['Madrid', 'Barcelona', 'Valencia', 'Sevilla', 'Zaragoza]
}
df = pd.DataFrame(data)
print(df)

SyntaxError: unterminated string literal (detected at line 7) (ipython-input-1921864838.py, line 7)