<a href="https://colab.research.google.com/github/brunobobadilla06/Bruno-CienciaDeDatos/blob/main/Numpy_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Introduccion en Panda:

In [ ]:
import pandas as pd # Importamos pandas y le ponemos un alias

# Creamos un DataFrame simple
datos = {
    'Nombre': ['Juan', 'María', 'Pedro', 'Ana', 'Luis'],
    'Edad': [25, 30, 35, 40, 45],
}
df = pd.DataFrame(datos)

# Mostramos el DataFrame
print(df)
#

  Nombre  Edad
0   Juan    25
1  María    30
2  Pedro    35
3    Ana    40
4   Luis    45

In [ ]:
# Series
import pandas as pd

# Creamos una serie simple
serie = pd.Series([10, 20, 30, 40, 50])


# Mostramos la serie
print(serie)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [ ]:
# DataFrame
import pandas as pd

# Creamos la dataframe
datos = {
    'Nombre': ['Juan', 'María', 'Pedro', 'Ana', 'Luis'],
    'Edad': [25, 30, 35, 40, 45],
}
df = pd.DataFrame(datos)

In [ ]:
# Leyendo archivos
import pandas as pd

# Leyendo un archivo CSV
df = pd.read_csv('datos.csv')

# Leyendo un archivo Excel
df = pd.read_excel('datos.xlsx')

# Leyendo un archivo json
df = pd.read_json('datos.json')

# Leyendo un archivo Sql
df = pd.read_sql('datos.sql')

# Leyendo un archivo Html
df = pd.read_html('datos.html')

Tip: Si usamos df.info() para ver tipos de datos y df.describe() para estadisticas basicas.

In [ ]:
print("Indice de la serie ", serie.index)
print("Valores de la serie ", serie.values)

Indice de la serie  RangeIndex(start=0, stop=5, step=1)
Valores de la serie  [10 20 30 40 50]

In [ ]:
import pandas as pd
# Creando una serie desde un diccionario
# Las claves del diccionario se covierten en el indice
s_dict = pd.Series({'Juan':25, 'Maria':30, 'Pedro':35, 'Ana':40, 'Luis':45})
print(s_dict)
print("Edad de Ana: ", s_dict['Ana'])

Juan     25
Maria    30
Pedro    35
Ana      40
Luis     45
dtype: int64
Edad de Ana:  40

In [2]:
# Creando un data frame desde un diccionario de listas
# cada clave del diccionario sera una columna, las listas los valos de esas columna
# TODAS LAS LISTAS DEBEN TENER LA MISMA LONGITUD
import pandas as pd
data = {
    'Nombre': ['Juan', 'María', 'Pedro', 'Ana', 'Luis'],
    'Edad': [25, 30, 35, 40, 45],
    'Ciudad': ['Madrid', 'Barcelona', 'Valencia', 'Sevilla', 'Zaragoza']
}
df = pd.DataFrame(data)
print(df)

  Nombre  Edad     Ciudad
0   Juan    25     Madrid
1  María    30  Barcelona
2  Pedro    35   Valencia
3    Ana    40    Sevilla
4   Luis    45   Zaragoza

In [5]:
import pandas as pd

csv_data = "https://raw.githubusercontent.com/brunobobadilla06/Bruno-CienciaDeDatos/refs/heads/main/ventas_ejemplo.csv"

print("Archivos desde csv creado en data frame desde github")
df_csv = pd.read_csv(csv_data, sep=',')
df_csv

Archivos desde csv creado en data frame desde github

,id_venta,fecha_venta,id_producto,nombre_producto,categoria_producto,cantidad,precio_unitario,total_venta,id_cliente,nombre_cliente
0,1,2025-09-30,7,Teclado Mecánico,Electrónica,2,59.99,119.98,103,Carlos Díaz
1,2,2025-09-29,3,Camiseta Deportiva,Ropa,4,19.99,79.96,110,Sofía Castro
2,3,2025-09-25,6,Mochila Escolar,Accesorios,4,45.00,180.00,105,Pedro Sánchez
3,4,2025-09-25,4,Botella de Agua 1L,Accesorios,4,8.75,35.00,106,Lucía Ramírez
4,5,2025-09-18,1,Auriculares Bluetooth,Electrónica,5,25.99,129.95,101,Juan Pérez
5,6,2025-10-02,7,Teclado Mecánico,Electrónica,5,59.99,299.95,104,Laura Fernández
6,7,2025-10-05,2,Mouse Inalámbrico,Electrónica,4,15.50,62.00,104,Laura Fernández
7,8,2025-09-14,6,Mochila Escolar,Accesorios,5,45.00,225.00,109,Diego Herrera
8,9,2025-09-19,1,Auriculares Bluetooth,Electrónica,3,25.99,77.97,104,Laura Fernández
9,10,2025-09-24,10,Gorra Deportiva,Accesorios,1,12.50,12.50,105,Pedro Sánchez

Filtrado Condicional
Crear una condicion devuelve una serie de booleanos

In [8]:
import pandas as pd

csv_data = "https://raw.githubusercontent.com/brunobobadilla06/Bruno-CienciaDeDatos/refs/heads/main/ventas_ejemplo.csv"

print("Archivos desde csv creado en data frame desde github")
df_csv = pd.read_csv(csv_data, sep=',')
df_csv
condicion_precio = df_csv['precio_unitario'] > 30
print("Condicion mayor a 30")
print(condicion_precio)

print("\nPrecio unitario mayor a 30")
print(df_csv[condicion_precio])

#Se puede hacer directamente
print("\nPrecio unitario mayor a 30")
print(df_csv[df_csv['precio_unitario'] > 30])

Archivos desde csv creado en data frame desde github
Condicion mayor a 30
0     True
1    False
2     True
3    False
4    False
5     True
6    False
7     True
8    False
9    False
Name: precio_unitario, dtype: bool

Precio unitario mayor a 30
   id_venta fecha_venta  id_producto   nombre_producto categoria_producto  \
0         1  2025-09-30            7  Teclado Mecánico        Electrónica
2         3  2025-09-25            6   Mochila Escolar         Accesorios
5         6  2025-10-02            7  Teclado Mecánico        Electrónica
7         8  2025-09-14            6   Mochila Escolar         Accesorios

   cantidad  precio_unitario  total_venta  id_cliente   nombre_cliente
0         2            59.99       119.98         103      Carlos Díaz
2         4            45.00       180.00         105    Pedro Sánchez
5         5            59.99       299.95         104  Laura Fernández
7         5            45.00       225.00         109    Diego Herrera

Precio unitario mayor a 30
   id_venta fecha_venta  id_producto   nombre_producto categoria_producto  \
0         1  2025-09-30            7  Teclado Mecánico        Electrónica
2         3  2025-09-25            6   Mochila Escolar         Accesorios
5         6  2025-10-02            7  Teclado Mecánico        Electrónica
7         8  2025-09-14            6   Mochila Escolar         Accesorios

   cantidad  precio_unitario  total_venta  id_cliente   nombre_cliente
0         2            59.99       119.98         103      Carlos Díaz
2         4            45.00       180.00         105    Pedro Sánchez
5         5            59.99       299.95         104  Laura Fernández
7         5            45.00       225.00         109    Diego Herrera

In [12]:
# Combinar multiples condiciones
# & : AND
# | : OR
# ~ : NOT
print("\nCategoria de electronica y con cantidad mayor a 2")
print(df_csv[(df_csv['categoria_producto'] == 'Electrónica') & (df_csv['cantidad'] > 2)])

Categoria de electronica y con cantidad mayor a 2
   id_venta fecha_venta  id_producto        nombre_producto  \
4         5  2025-09-18            1  Auriculares Bluetooth
5         6  2025-10-02            7       Teclado Mecánico
6         7  2025-10-05            2      Mouse Inalámbrico
8         9  2025-09-19            1  Auriculares Bluetooth

  categoria_producto  cantidad  precio_unitario  total_venta  id_cliente  \
4        Electrónica         5            25.99       129.95         101
5        Electrónica         5            59.99       299.95         104
6        Electrónica         4            15.50        62.00         104
8        Electrónica         3            25.99        77.97         104

    nombre_cliente
4       Juan Pérez
5  Laura Fernández
6  Laura Fernández
8  Laura Fernández